<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>AboutMe</title>
<style type="text/css">
body {
    background-color: #1D1D1D;
    text-align: center;
    font: 72px Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
    color: #AAA08D;
}
image {
    float: none;
    /* [disabled]text-align: left; */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-width: thin;
}
body parag {
    font: 30px inherit;
}
.navigation {
    font: large Impact, Haettenschweiler, Franklin Gothic Bold, Arial Black, sans-serif;
    /* [disabled]align-content: flex-start; */
    color: #AAA08D;
    text-align: right;
    -webkit-box-shadow: 0px 0px #AAA08D;
    box-shadow: 0px 0px #AAA08D;
}
a:link {
    color: #AAA08D;
}
</style>
</head>

<body>
<p>
  <nav class="navigation"><a href="index.html">Home</a> <a href="Contact.html">Contact Me</a> <a href="Services.html">Services</a></nav>
</p>
<p>About Me
  <nav class="navi"></nav>
</p>
<div style=position: font-size: 30px; absolute; left: 10px; top: 120px;><img src="../pexels-craig-adderley-1467590.jpg" width="200" height="200" float=left alt=""/><img src="../pexels-craig-adderley-1467590.jpg" width="200" height="200" float=left alt=""/><img src="../pexels-craig-adderley-1467590.jpg" width="200" height="200" float=left alt=""/></div>
<p style="font-size: 24px">My name is Brittney Mason and I live in Cary, North Carolina. I spent the last 10 years in Boone, North Carolina building a life with my partner, Patrick. We have two amazing dogs named Dixie and Delilah. I am currently enrolled at Wake Tech Community College and I am majoring in CyberSecurity. In my free time I enjoy reading, hanging out with friends and enjoying the outside weather.  I am currently working at Mellow Mushroom in Downtown Raleigh and I absolutely love it.</p>
</body>
</html>
